@import url(componentes/kitchen.css);
@import url(componentes/bedroom.css);
@import url(componentes/livingroom.css);

.house{
  display: flex;
  flex-wrap: wrap;      
  gap: 20px;
  padding: 20px;
  background-color: rgb(247, 120, 173);
}
